html {
  background: #131415;
  color: #ddd;
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  align-items: center;
  display: flex;
  margin: 20px auto;
}

header h1 {
  margin: 0 10px;
}

header img {
  margin: 0 10px;
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin: 0 20%;
}

main a {
  margin: 20px 20px;
}

main a img {
  max-width: 100px;
}

footer {
  align-items: center;
  display: flex;
  margin: 20px auto;
}

footer img {
  margin: 0 5px;
}