html {
  background: #131415;
  color: #ddd;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

header h1 {
  flex: 1;
  line-height: 100px;
}

header img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-120%, -50%);
  vertical-align: middle;
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
}

main a {
  margin: 20px 20px;
  text-decoration: none;
}

main a img {
  min-width: 100px;
  max-width: 100px;
}

footer {
  display: table;
  margin: 20px auto;
  text-align: center;
}