<!doctype html>
<html lang="en-US">
  <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<header>
  <h1><img src="DrewRJensen.png" alt="Drew R Jensen photo" style="border-radius: 50%"> Drew R Jensen</h1>
</header>
<body>
  <div class="wrapper">
    <section>
      {{ content }}
    </section>
  </div>
</body>
<footer>
  <img src="favicon.ico" alt="Drew R Jensen logo" style="max-width: 16px"> © 2023 Drew R Jensen
</footer>
</html>